body{
    line-height: 1.6em;
}

#box-table-a{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 680px;
    text-align: left;
    border-collapse: collapse;
}

#box-table-a th{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #5aaed4;
    color: #039;
}

#box-table-a td{
    padding: 8px;
    border-bottom: 1px solid #c0c0c0;
    color: #669;
    border-top: 1px solid transparent;
}

#box-table-a tr:hover td{
    background: #d0dafd;
    olor: #339;
}